.header{
    font-size: 30px;
    background-color: black;
    color: white;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .header {
        background-color: teal;
        color: white;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        text-align: center;
        font-size: 30px;
    }
}